Ansar Ahmed
ULTIMATE DESIGN TECHNOLOGY LLP
EE
1173919287
1173919287
Mumbai
ansar@mail.com



make parameter dynamic

and check pagination code sort all data this code sort current page data only
when i go to next page then it not return next sorted data it return constant data that belong to that page


*********************

remove asset_id and asset_category from this model 
"class Asset(models.Model):
asset_id = models.IntegerField(unique=True)
picture = models.ImageField(upload_to='asset_pictures/', blank=True, null=True)
asset_name = models.CharField(max_length=255)
tag_id = models.IntegerField()
footage = models.ImageField(upload_to='assets_footage/', blank=True, null=True, verbose_name='Footage')
description = models.CharField(max_length=500)
asset_category = models.CharField(max_length=50)
STATUS_CHOICES = [
    ('active', 'Active'),
    ('inactive', 'Inactive'),
]
status = models.CharField(max_length=50, choices=STATUS_CHOICES, default='active')
location = models.CharField(max_length=100, blank=True, null=True)
time_log = models.DateTimeField(auto_now=True)
site = models.ForeignKey('Site', on_delete=models.CASCADE)

def _str_(self):
    return self.asset_name

def check_file_exists(self, file_field):
    if file_field and os.path.isfile(os.path.join(settings.MEDIA_ROOT, file_field.name)):
        return True
    return False

def check_picture_exists(self):
    return self.check_file_exists(self.picture)

def check_footage_exists(self):
    return self.check_file_exists(self.footage)"
    
and modify this view "def add_asset(request):
site_name = request.GET.get('site_name') or request.session.get('site_name')
if site_name:
    request.session['site_name'] = site_name

if request.method == 'POST':
    form = AssetForm(request.POST,request.FILES)
    if form.is_valid():
        try:
            form.save()
            return redirect('asset_site')
        except ValidationError as e:
            form.add_error('asset_id', str(e))  
else:
    form = AssetForm()

sites = Site.objects.all()  # Get all sites to display in the template
site_names = [(site.name, site.name) for site in sites]
return render(request, 'app1/add_asset.html', {'form': form,'site_name':site_name,'site_names':site_names})"

this is form "class AssetForm(forms.ModelForm):
asset_category_choices = [
    ('category1', 'Category 1'),
    ('category2', 'Category 2'), 
]
asset_category = forms.ChoiceField(choices=asset_category_choices)

class Meta:
    model = Asset
    fields = ['asset_id', 'picture', 'asset_name', 'tag_id', 'description', 'asset_category', 'site']
    widgets = {
        'picture': forms.FileInput(attrs={'class': 'custom-file-input'}),
        'footage': forms.FileInput(attrs={'class': 'custom-file-input'}),
    }

def __init__(self, *args, **kwargs):
    super().__init__(*args, **kwargs)
    # Remove the 'Currently' and 'Clear' parts from the image fields
    for field_name in ['picture', 'footage']:
        field = self.fields.get(field_name)
        if field:
            field.widget.attrs.pop('initial', None)
            field.widget.attrs.pop('clear_checkbox_label', None)"

